<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>MaxPoints</key>
		<integer>30</integer>
		<key>NumberOfBlocks</key>
		<integer>0</integer>
	</dict>
	<key>Level2</key>
	<dict>
		<key>x</key>
		<array>
			<integer>11</integer>
			<integer>11</integer>
			<integer>11</integer>
			<integer>11</integer>
			<integer>11</integer>
			<integer>11</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
		</array>
		<key>y</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>11</integer>
			<integer>12</integer>
			<integer>13</integer>
		</array>
		<key>MaxPoints</key>
		<integer>25</integer>
		<key>NumberOfBlocks</key>
		<integer>12</integer>
	</dict>
	<key>Level3</key>
	<dict>
		<key>y</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
		<key>x</key>
		<array>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>13</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
		</array>
		<key>MaxPoints</key>
		<integer>25</integer>
		<key>NumberOfBlocks</key>
		<integer>12</integer>
	</dict>
	<key>Level4</key>
	<dict>
		<key>x</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>25</integer>
			<integer>26</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>25</integer>
			<integer>26</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
		</array>
		<key>y</key>
		<array>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>16</integer>
			<integer>15</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>16</integer>
			<integer>15</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>MaxPoints</key>
		<integer>20</integer>
		<key>NumberOfBlocks</key>
		<integer>40</integer>
	</dict>
	<key>Level5</key>
	<dict>
		<key>x</key>
		<array>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
		</array>
		<key>y</key>
		<array>
			<integer>11</integer>
			<integer>10</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>10</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>MaxPoints</key>
		<integer>20</integer>
		<key>NumberOfBlocks</key>
		<integer>32</integer>
	</dict>
	<key>Level6</key>
	<dict>
		<key>x</key>
		<array>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>17</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>13</integer>
			<integer>13</integer>
			<integer>16</integer>
			<integer>16</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>20</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
			<integer>9</integer>
		</array>
		<key>y</key>
		<array>
			<integer>11</integer>
			<integer>10</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>10</integer>
			<integer>8</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>7</integer>
			<integer>11</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>7</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>12</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>19</integer>
			<integer>18</integer>
			<integer>17</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<key>MaxPoints</key>
		<integer>999</integer>
		<key>NumberOfBlocks</key>
		<integer>36</integer>
	</dict>
</dict>
</plist>
